@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

 .home__outer {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.home__inner {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.home_header {
    width: 100%;
    height: 100vh;
    background-image: url("./../../assets/image/back9.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Aboreto';
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: center;
position: absolute;

}

.home_header_text {
    
    font-size: 100px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    word-wrap: break-word;
    position:absolute;
    top: 150px;
    
    font-weight: 550;
}
/*
.home_search {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:2rem 0rem;
}

.home_search__inner {
    height: 70px;
    width: 80%;
    background-color: grey;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__hot{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:2rem 0rem;
}








 */




.home__outer{
    width:100%;
    height:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.home__inner{
    width:100%;
    height:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}








.home__inner__seaction2{
    width:100%;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 250px;
}
.home__inner__seaction2__inner{
    width:60%;
    padding: 10px;
    height: fit-content;
    background-color: white;
    border-radius: 2rem;
    position: absolute;
    margin-top: -18rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.home__inner__seaction2__inner__top{
    width:100%;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
}
.home__inner__seaction2__inner__top__each{
    width:fit-content;
    height:fit-content;
    padding: 8px;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    border-bottom: 2px solid white;
}
.home__inner__seaction2__inner__top__each:hover{

    border-bottom: 2px solid orange;
}
.home__inner__seaction2__inner__bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.home__inner__seaction2__inner__bottom__select{
    width:10rem;
    height:fit-content;
    margin-left: 1rem;
}
.home__inner__seaction2__inner__bottom__field{
    width: 60%;
    height:fit-content;
}
.home__inner__seaction2__inner__bottom__button{
    width:fit-content;
    height:fit-content;
    padding: 8px;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    border-radius: 5rem;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #EF4B4D;
    color: white;
}

.home__inner__seaction2__inner__bottom__under{  
    width:100%;
    height:fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}
.home__inner__seaction2__inner__top__each2{
    width:fit-content;
    height:fit-content;
    padding: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5rem;
    font-size: 13px;
    margin-right: 1rem;
    border:1px solid rgb(206, 205, 205);
    cursor: pointer;
}
.home__inner__seaction2__inner__top__each2:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border:1px solid white;
}
@keyframes filterFrame {
    from{
        height:0rem;
    }
    to{
        height: 8rem;
    }
}
@keyframes filterFrame2 {
    from{
        height:0rem;
    }
    to{
        height: 7rem;
    }
}
@keyframes filterFrame3 {
    from{
        height:0rem;
    }
    to{
        height: 10rem;
    }
}
.home__inner__seaction2__inner__bottom__under__all{
    width:95%;
    height:8rem;
    overflow: hidden;
    padding: 1rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    animation-name: filterFrame;
    animation-duration: 0.6s;
}
.home__inner__seaction2__inner__bottom__under__all__head{
    width:100%;
    height:fit-content;
    font-size: 16px;
    font-weight: 600;
}
.home__inner__seaction2__inner__bottom__under__all__value{
    width:100%;
    height:fit-content;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 1rem;
}


.home__inner__seaction2__inner__bottom__under__all2{
    width:95%;
    height:7rem;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    animation-name: filterFrame2;
    animation-duration: 0.6s;
}
.home__inner__seaction2__inner__bottom__under__all3{
    width:95%;
    height:7rem;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    animation-name: filterFrame3;
    animation-duration: 0.6s;
}
.home__sectionTwo{
    height: 40vh;
    max-height: 40vh;
    z-index: 5;
    top: 100vh; 
    position: relative;
    overflow: hidden;
}
.home__sectionTwo img{
   width: 100%;
   height: 100% ;
    background-repeat: no-repeat;
    background-position: center;
    /* Center the image */
    
    /* Do not repeat the image */
    background-size: 1000px 300px;
}
/* .foreground{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.home__footer{
    background-color: black;
    color: whitesmoke;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30Vmin;
    max-height: 20vh;
    z-index: 5;
    top: 120vh; 
    position: relative;
}