@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
.navbar_outer{
    width: 100%;
    height:fit-content;
    background:none;
    
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 2rem; */
    font-family: 'Aboreto';
    font-size: 20px;
    font-weight: 600;
    
}
.navbar_inner{
    width: 95%;
    height:fit-content;
    /* background-color: yellow; */
    
    display: flex;
    align-items: center;
    justify-content: center;  
    margin: 1rem;
}

.nav__icon{
 margin:0rem 1rem;   
}

.nav_logo{
    height: fit-content;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: brown; */
    
}
.nav_logo_inner{
     display: flex;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    cursor: pointer;
}

.nav_util{
    height: fit-content;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: blue; */
}
.nav_util_icons{
    margin:0rem 1rem;
}